*{
    margin: 0px;
    padding: 0px;


}
body{
    scroll-snap-align:initial;
    width: 100vw;
}
.header{
    display: flex;
    justify-content: space-between;
    margin-right: 15px;
    /* height: 75px; */
    

}
span{
    font-size: 25px;
    margin-top: 8px;
}
.textfrist{
    font-size: 15px;
}
.list ul{
    display: flex;
    justify-content: space-evenly;
    margin-top: 37px;
}
.list_items{
    display: flex;
    justify-content: space-between;
    /* margin-left: 10px; */
    padding-right: 30px;
    font-size: 17px;
    /* margin-right: 10.5px; */
    font-weight: 540;
    font-family: Inter,sans-serif;
}

.img{

}
.left{
    margin-top:17px;
    margin-left:66px;
    
    padding-top:-10px;
    height: audio;
}
.account{
    margin-right: 50px;
    margin-top: 26px;
    height: 39px;
    width: 113px;
    background-color: rgb(53, 53, 235);
    border-radius: 50px;
}
button{
    margin-top: 30px;
    margin-right: 10px;
    padding: 5px 20px;
}
.right{
    margin-top: 2px;
    margin-right: 7px;
   
}
h3{
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 20px;
    color: aliceblue;
    font-family: Inter,sans-serif;
    font-size: 15px;

}
.pic{
    margin-top: -12px;
    margin-left: 38px;
}
.photo{
    display: flex;
    margin-top: 105px;
    justify-content: space-between;
}
.content_photo{
    height: 500px;
}
.main_pic{
    height: 500px;
    width: 531px;
    margin-top: 5px;
    

}
.logo_pic{
    height: 80px;
    width: 80px;
    margin-left: 45px;
    margin-top: 23px;
}
#heading{
    margin-left: 45px;
    margin-top: 50px;
    font-size: 55px;
    font-family: Inter,sans-serif;
}
p{
    margin-left: 45px;
    font-size: 21px;
    margin-top:15px;
    font-family: Inter,sans-serif;
    line-height: 1.4;
}
.border{
    height:45px;
    width: 100wh;
    background-image: linear-gradient(rgb(228, 228, 245),rgb(245, 243, 250));
    margin-top: 15px;
    display: flex;
    justify-content: center;
    font-family: Inter,sans-serif;
    font-size: 15px;
    text-align: center;

}
#button{
    width: 260px;
    height: 50px;
    margin-left: 50px;
    border-radius: 40px;
    background-color: rgb(61, 51, 51);
    color: aliceblue;
    font-size: 19px;
}
.bottom{
    height: 390px;
    background-color: #00baf2;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.items{
   margin-left: -10px;
   margin-top: 160px;
}
 p{
    margin-right: 20px;
}
.small{
    height: 70px;
    width: 70px;
    
}
.para{
    margin-left: -1px;
    color: aliceblue;
    font-size: 16px;
    font-family: Inter,sans-serif;
    font-weight: 650;
}
.text{
    position: relative;
    top: 165px;
    font-size: 20px;
    left: 45px;
    font-family: Inter,sans-serif;
    color: white;
}
.second_bottom{
    display: flex;
    justify-content: space-between;
    background-color: #0f4a8a;
    height:390px ;
   
}
.second{
    height: 70px;
    width: 70px;
    margin-left: 10px;
    margin-top: 150px;
}
.item{
    /* margin-left: 40px; */
    padding-left: 50px;
}
.para2{
    margin-left: 10px;
    color: white;
    font-size: 17px;
    font-weight: 650;
}
.second_content{
    position: absolute;
    top: 1300px;
    margin-left: 45px;
    font-size: 20px;
    font-family: Inter,sans-serif;
    color: white;
}
.h3{
    color: black;
}
@media screen and (min-width: 600px) {
    .list{
     
        display: inline;
        /* flex-direction: row; */
    }
    .header{
        /* display: inline; */
    }
  }